.body {
  background-color: white;
}
.photo {
box-shadow:5px solid  #FF6363;
}
.img-thumbnail{
  width: 600px;
  height: 600px;
  box-shadow: 8px solid #F8B400;
}

.details-show {
  color:#125B50;
  font-weight: lighter;
  padding-bottom: 10px;
  padding-left: 20px;
  box-shadow: 3px solid #FF6363;
}
