<div class="container mt-4">
  <h1 class="text-center">My profile</h1>
  <h2>My teachers</h2>
  <%= render "/teachers/cards_teachers" %>

  <h2>My appointments</h2>
  <%= render "/appointments/cards_appointments" %>


</div>
