<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%=asset_path("banner.jpg")%>);">
  <div class="container">
    <h1>Book your TA with <strong>good style </strong><i class="fa-solid fa-thumbs-up"></i></h1>
    <p>One day, one TA</p>
    <%= link_to "Search the good one", root_path, class: "btn btn-primary" %>
  </div>
</div>

<div class="container">
  <%= render "cards_teachers" %>
</div>
