<div class="container">
  <h1>Add a new teacher</h1>
<<<<<<< HEAD
  <%= render 'form_teachers', teacher: @teacher %>
=======

  <%= render 'form', teacher: @teacher %>
>>>>>>> 8c5240cec17efe01dde9042fee1b6555a4992c40
</div>
